<!DOCTYPE html>
<html>
<head>
	<title>HOME</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
	<script src="../js/index-controller.js"></script>
	<link rel="stylesheet" type="text/css" ref="../css/style.css"/>

</head>
<body data-ng-app="breadCrumb" data-ng-controller="pagesController">
		
	<!-- <div data-ng-controller="pagesController">
		<a href="{{page}}" data-ng-repeat="page in pages">{{ page }}</a>
	</div> -->
	<div data-ng-controller="pagesController">
		Current Page:
		<a href="" data-ng-repeat="page in pages" data-ng-model="pages">
	    	 \ {{ page.name }}
	    </a>
	</div><hr>

	<!--<div id="sidenav" >
		<a href="#/" data-ng-click="addPage('#/', 'Home')">Home</a><br>
		<a href="#/maintenance" data-ng-click="addPage('#/maintenance', 'Maintenance')">Maintenance</a><br>
		<a href="#/transaction" data-ng-click="addPage('#/transact', 'Transaction')">Transanction</a>	
	</div>-->

    <div id="sidenav" data->
		<a href="#/" >Home</a><br>
		<a href="#/maintenance" data-ng-click="addPage('#/maintenance', 'Maintenance')">Maintenance</a><br>
		<a href="#/transaction" data-ng-click="addPage('#/transact', 'Transaction')">Transanction</a>	
	</div>

	<ul data-ng-model="p" data-name-list data-ng-list-all="p" id="hello">
		<li data-ng-repeat="s in p">
			<span data-ng-bind="s.name | uppercase"></span>
		</li>
	</ul>
	
	<button class="alert-hello-world">Click Me</button>

	<form name="s" method="POST" class="submit-form">
		<input type="text" name="username" value="eheheheh" />
		<input type="text" name="pw" value="hahahaha" />
		<button type="submit" class="alert-hello-world">Submit</button>
	</form>
	<div data-ng-view>

	</div>
    
</body>
</html>