<!DOCTYPE html>
<html data-ng-app="ToDo">
    <head>
        <title>ToDo</title>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
        <script type="text/javascript" src="controller.js"></script>
        <style>
            .done{
                text-decoration : line-through;
                color : #ccc;
            }
        </style>
    </head>
    <body>
        <div data-ng-controller="todoController">
            <ul>
                Current Page:
                <a href="{{ todo.address }}" data-ng-click="addToDo(todo.title, todo.address, todo.level)" data-ng-repeat="todo in todos">
                    {{ todo.title }}/
                </a>
            </ul><hr>
                <a href="#/HomePage" data-ng-click="addToDo('Home', '#/HomePage', '1')" >Home</a><br>
                <a href="#/LinkPage" data-ng-click="addToDo('Links', '#/LinkPage', '1')">Links</a><br>
                <a href="#/AboutPage" data-ng-click="addToDo('About Us', '#/AboutPage', '1')">About Us</a>

            <div data-ng-view></div>
        </div>
        
    </body>
</html>